<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

	<entry key="selectExList">
		SELECT EX_NO, LC_NAME, EX_TITLE, TO_CHAR(START_DATE, 'YYYY-MM-DD') START_DATE, TO_CHAR(END_DATE, 'YYYY-MM-DD') END_DATE, EX_THUMBNAIL
		FROM EXHIBITION
		JOIN LOCATION USING (LC_CODE)
		WHERE START_DATE &lt;= SYSDATE 
		  AND END_DATE &gt;= SYSDATE
		  AND EX_STATUS = 'N'
		ORDER BY END_DATE
	</entry>
	
	<entry key="searchList">
		SELECT EX_NO, LC_NAME, EX_TITLE, TO_CHAR(START_DATE, 'YYYY-MM-DD') START_DATE, TO_CHAR(END_DATE, 'YYYY-MM-DD') END_DATE, EX_THUMBNAIL
		FROM EXHIBITION
		JOIN LOCATION USING (LC_CODE)
		WHERE END_DATE &gt;= SYSDATE
		  AND EX_STATUS = 'N'
		  AND UPPER(EX_TITLE) LIKE UPPER(?)
		ORDER BY END_DATE
	</entry>
	
	<entry key="selectExOne">
		SELECT EX_NO, LC_NAME, EX_TITLE, TO_CHAR(START_DATE, 'YYYY-MM-DD') START_DATE, TO_CHAR(END_DATE, 'YYYY-MM-DD') END_DATE, PRICE, EX_THUMBNAIL
		FROM EXHIBITION
		JOIN LOCATION USING (LC_CODE)
		WHERE EX_NO = ?
		  AND EX_STATUS = 'N'
	</entry>
	
	<entry key="getDiscount">
		SELECT DISCOUNT
		FROM MEMBER
		JOIN GRADE USING (GR_CODE)
		WHERE MEM_NO = ?	
	</entry>
	
	<entry key="insertReservation">
		INSERT INTO RESERVATION (RESV_NO, MEM_NO, EX_NO, RESV_DATE, COUNT, PAYMENT)
		VALUES (SEQ_RESV_NO.NEXTVAL, ?, ?, TO_DATE( ?, 'YYYY-MM-DD'), ?, ?)
	</entry>
	
	<entry key="selectResvNo">
		SELECT LAST_NUMBER RESV_NO
		FROM USER_SEQUENCES
		WHERE SEQUENCE_NAME = 'SEQ_RESV_NO'
	</entry>
		
	<entry key="updateReservation">
		UPDATE RESERVATION
		SET PAYMENT = ?, IMP_UID = ?, PAY_DATE = SYSDATE, PAY_STATUS = ?, RECEIPT = ?
		WHERE RESV_NO = ?
	</entry>
	
	<entry key="dropReservation">
		DELETE
		FROM RESERVATION
		WHERE RESV_NO = ?
	</entry>
	
	<entry key="deleteReservation">
		UPDATE RESERVATION
		SET PAY_DATE = SYSDATE, PAY_STATUS = 'C'
		WHERE IMP_UID = ?
	</entry>
	
	<entry key="selectMyResvList">
		SELECT RESV_NO, EX_TITLE, TO_CHAR(RESV_DATE, 'YYYY-MM-DD') RESV_DATE, COUNT, PAYMENT, TO_CHAR(PAY_DATE, 'YYYY-MM-DD') PAY_DATE, PAY_STATUS, RECEIPT
		FROM RESERVATION
		JOIN EXHIBITION USING (EX_NO)
		WHERE MEM_NO = ?
		  AND RESV_DATE &gt;= ADD_MONTHS(SYSDATE, ?)
		  AND PAY_STATUS != 'N'
		ORDER BY RESV_NO DESC
	</entry>
	
	<entry key="selectMyResvOne">
		SELECT RESV_NO, EX_NO, TO_CHAR(RESV_DATE, 'YYYY-MM-DD') RESV_DATE, COUNT, PAYMENT, IMP_UID, TO_CHAR(PAY_DATE, 'YYYY-MM-DD') PAY_DATE, PAY_STATUS, RECEIPT
		FROM RESERVATION
		JOIN EXHIBITION USING (EX_NO)
		WHERE RESV_NO = ?
	</entry>
	
	<entry key="searchResvDate">
		SELECT RESV_NO, EX_TITLE, TO_CHAR(RESV_DATE, 'YYYY-MM-DD') RESV_DATE, COUNT, PAYMENT, TO_CHAR(PAY_DATE, 'YYYY-MM-DD') PAY_DATE, PAY_STATUS, RECEIPT
		FROM RESERVATION
		JOIN EXHIBITION USING (EX_NO)
		WHERE MEM_NO = ?
		  AND RESV_DATE BETWEEN TO_DATE(?, 'YYYY-MM-DD') AND TO_DATE(?, 'YYYY-MM-DD')
		ORDER BY RESV_NO DESC
	</entry>
	
	<entry key="selectAllCount">
		SELECT COUNT(*) COUNT 
		FROM RESERVATION
	</entry>
	
	<entry key="selectReservationListAll">
		SELECT *
		FROM (SELECT ROWNUM RNUM, A.*
			  FROM (SELECT RESV_NO, MEM_NAME, EX_TITLE, TO_CHAR(RESV_DATE, 'YYYY-MM-DD') RESV_DATE, COUNT, PAYMENT, IMP_UID, TO_CHAR(PAY_DATE, 'YYYY-MM-DD') PAY_DATE, PAY_STATUS, RECEIPT
					FROM RESERVATION
					JOIN MEMBER USING (MEM_NO)
					JOIN EXHIBITION USING (EX_NO)
					ORDER BY RESV_DATE DESC) A)
		WHERE RNUM BETWEEN ? AND ?
	</entry>
	
	<entry key="selectTodaySales">
        SELECT SUM((PAYMENT*COUNT)-(PAYMENT*COUNT*DISCOUNT)) "TOTAL"
        FROM RESERVATION R, MEMBER M, GRADE G
        WHERE R.MEM_NO = M.MEM_NO
        AND M.GR_CODE = G.GR_CODE
        AND PAY_STATUS = 'Y'
        AND TO_CHAR(PAY_DATE,'YYYYMMDD') = TO_CHAR(SYSDATE,'YYYYMMDD')
    </entry>
    <entry key="selectWeekSales">
        SELECT SUM((PAYMENT*COUNT)-(PAYMENT*COUNT*DISCOUNT)) "TOTAL"
        FROM RESERVATION R, MEMBER M, GRADE G
        WHERE R.MEM_NO = M.MEM_NO
        AND M.GR_CODE = G.GR_CODE
        AND PAY_STATUS = 'Y'
        AND PAY_DATE BETWEEN SYSDATE-7 AND SYSDATE
    </entry>
    <entry key="selectSalesPerMonth">
        SELECT SUM((PAYMENT*COUNT)-(PAYMENT*COUNT*DISCOUNT)) "TOTAL", (TO_CHAR(PAY_DATE,'YYYY.MM')) DATE_RANGE
        FROM RESERVATION
        JOIN MEMBER USING (MEM_NO)
        JOIN GRADE USING (GR_CODE)
        WHERE PAY_STATUS = 'Y'
        GROUP BY TO_CHAR(PAY_DATE,'YYYY.MM')
        HAVING TO_CHAR(PAY_DATE,'YYYY.MM') &gt;= TO_CHAR(ADD_MONTHS(SYSDATE,-5),'YYYY.MM')
        AND TO_CHAR(PAY_DATE,'YYYY.MM') &lt;= TO_CHAR(SYSDATE,'YYYY.MM')
    </entry>
    <entry key="selectResvRatePerGen">
    SELECT LABEL, (COUNT(*) / (SELECT COUNT(*)
                                  FROM (SELECT  FLOOR((EXTRACT(YEAR FROM SYSDATE) - EXTRACT(YEAR FROM BIRTH_DATE))/10)*10
                                  FROM RESERVATION
                                  JOIN MEMBER USING (MEM_NO)))) * 100 AS "RATE"
FROM (SELECT  FLOOR((EXTRACT(YEAR FROM SYSDATE) - EXTRACT(YEAR FROM BIRTH_DATE))/10)*10||'대'||DECODE(GENDER, 'M', '남성', 'F','여성') AS LABEL
                              FROM RESERVATION
                              JOIN MEMBER USING (MEM_NO))
GROUP BY LABEL
    </entry>
	
</properties>